@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: #5372f0;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  padding: 0 10px;
}

.wrapper {
  max-width: 1000px;
  overflow-x: hidden;
  background: #fff;
  border-radius: 13px;
  padding: 35px;
  position: relative;
}

.wrapper .icon {
  position: absolute;
  top: 0;
  height: 100%;
  width: 120px;
  display: flex;
  align-items: center;
}

.icon:first-child {
  left: 0;
  display: none;
  background: linear-gradient(90deg, #fff 70%, transparent);
}

.icon:last-child {
  right: 0;
  background: linear-gradient(-90deg, #fff 70%, transparent);
  justify-content: flex-end;
}

.icon i {
  width: 55px;
  height: 55px;
  text-align: center;
  line-height: 55px;
  border-radius: 50%;
  font-size: 1.2rem;
  cursor: pointer;
}

.icon i:hover {
  background: #f5f4fd;
}

.icon:first-child i {
  margin-left: 15px;
}

.icon:last-child i {
  margin-right: 15px;
}

.wrapper .tabs-box {
  display: flex;
  list-style: none;
  gap: 12px;
  overflow-x: hidden;
  scroll-behavior: smooth;
}

.tabs-box.dragging {
  scroll-behavior: auto;
  cursor: grabbing;
}

.tabs-box .tab {
  white-space: nowrap;
  font-size: 1.18rem;
  background-color: #f5f4fd;
  padding: 13px 20px;
  border-radius: 30px;
  cursor: pointer;
  border: 1px solid #d8d5f2;
}

.tabs-box.dragging .tab {
  -webkit-user-select: none;
  user-select: none;
  pointer-events: none;
}

.tabs-box .tab.active {
  color: #fff;
  background: #5372f0;
  border-color: transparent;
}
