/* import Poppins font from Google Fonts */
@import url(https://fonts.googleapis.com/css?family=Poppins:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

/* create a css style reset on root */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

/* store some colors in root variables */
:root {
  --dark: #2c3e50;
  --light: #ecf0f1;
  --success: #2ecc71;
  --warning: #f1c40f;
  --error: #e74c3c;
  --info: #3498db;
}

body {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background: var(--dark);
}

.notifications {
  position: fixed;
  top: 30px;
  right: 20px;
}

.notifications :where(.toast, .column) {
  display: flex;
  align-items: center;
}

.notifications .toast {
  background-color: var(--light);
  list-style: none;
  width: 400px;
  border-radius: 4px;
  padding: 16px 18px;
  margin-bottom: 10px;
  justify-content: space-between;
  position: relative;
  overflow: hidden;
  animation: show_toast 0.3s ease forwards;
}

@keyframes show_toast {
  0% {
    transform: translateX(100%);
  }
  40% {
    transform: translateX(-5%);
  }
  80% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-10px);
  }
}

.notifications .toast.hide {
  animation: hide_toast 0.3s ease forwards;
}

@keyframes hide_toast {
  0% {
    transform: translateX(-10px);
  }
  40% {
    transform: translateX(0%);
  }
  80% {
    transform: translateX(-5%);
  }
  100% {
    transform: translateX(calc(100% + 20px));
  }
}

.toast::before {
  position: absolute;
  content: "";
  height: 3px;
  width: 100%;
  bottom: 0px;
  left: 0px;
  animation: progress 5s linear forwards;
}

@keyframes progress {
  100% {
    width: 0%;
  }
}

.toast.success::before,
.btn#success {
  background: var(--success);
}

.toast.warning::before,
.btn#warning {
  background: var(--warning);
}

.toast.error::before,
.btn#error {
  background: var(--error);
}

.toast.info::before,
.btn#info {
  background: var(--info);
}

.toast .column i {
  font-size: 1.75rem;
}

.toast.success .column i {
  color: var(--success);
}

.toast.warning .column i {
  color: var(--warning);
}

.toast.error .column i {
  color: var(--error);
}

.toast.info .column i {
  color: var(--info);
}

.toast .column span {
  font-size: 1rem;
  margin-left: 12px;
}

.toast i:last-child {
  color: #aeb0d7;
  cursor: pointer;
}

.toast i:last-child:hover {
  color: var(--dark);
}

.buttons .btn {
  border: none;
  outline: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 4px;
  color: #fff;
  margin: 0 5px;
  font-size: 1.2rem;
}

/* make it responsive */

@media screen and (max-width: 500px) {
  .notifications {
    width: 95%;
  }

  .notifications .toast {
    width: 100%;
    font-size: 1rem;
    margin-left: 20px;
  }

  .buttons .btn {
    margin: 0 1px;
    font-size: 1.1rem;
    padding: 8px 15px;
  }
}
